attrs==21.4.0
certifi==2021.10.8
chardet==3.0.4
Django==2.2.16
django-debug-toolbar==2.2
Faker==12.0.1
idna==2.8
importlib-metadata==4.11.3
mixer==7.1.2
more-itertools==8.12.0
packaging==21.3
Pillow==8.3.0
pluggy==0.13.1
py==1.11.0
pyparsing==3.0.8
pytest==5.3.5
pytest-django==3.8.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
pytz==2022.1
requests==2.22.0
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.4.2
typing-extensions==4.2.0
urllib3==1.25.11
wcwidth==0.2.5
zipp==3.8.0