{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ hello }}</h1>
<h1>Меня зовут Новиков Максим Сергеевич.</h1>
<p>
  Примерно в 2019 году я задумался кем я хочу стать.
  В разное время я примерял на себя разные роли.
  Во время учебы:
  <ul>
    <li>строитель</li>
    <li>официант</li>
    <li>монтажником местного интернет-провайдера</li>
  </ul>
  В трудные времена подрабатывал грузчиком, таксистом, ремонтировал стиральные машины.
</p>
<hr>
<p>
  В 2006 году приступил к учебе в колледже по специальности прикладная информатика.
  в 15 лет я не задумывался кем я стану и выбрал направление рандомным образом.
  Лекции казались ужасно скучными, поэтому мы с одногруппниками в основном катали в CS.
  Однако,на некоторых заданиях мы познакомились в Pascal и базой данных в Excel.
  Больше всего меня впечатлило, когда преподаватель нас познакомил с html, я вдохновился и сделал неплохую(по тем временам страницу)
  В то же время появился комьютер и мне безумно нравилось в нем разбираться,ставить программы и изучать как они работают.
</p>
<hr>
<p>
  После учебы смог работать техническим специалистом в магазине электроники
  и уже мог дополнительно заработать на переустановке виндовс и т.п.
  И отправился за высшим образованием,на этот раз на Менеджера.
</p>
<hr>
<p>  
  Опробовав себя в разных амплуа я не находил восторга от деятельности.
  И вот, возвращаясь к началу,в 2019 году я задумался,кем же я хочу быть.
  Вспомнил,какой энтузиазм мной овладел,когда я писал html страницу, 
  да и с техникой я дружу сделал выбор в пользу front-end разработки.
  После тщетных попыток изучить это ремесло на просторах интернета,понял,что мне не хватает структурированной информации
  и дедлайнов,которые меня бы поторапливали.Также пробовал изучать Python.
  Он мне не давал покоя, мне хотелось узнать больше его возможностей.
  Так мой путь привел меня к yandex и моей будущей профессии-
  <span style="text-shadow: 1px 1px 2px black">backend developer.</span>
</p>
{% endblock %}