{% extends 'base.html' %}
{% block title %} 
    Профайл пользователя {{ profile.get_full_name }}
{% endblock %}
{% block content %}      
  <h1>
    Все посты пользователя {{ profile.get_full_name }} 
  </h1>
  <h3>
    Всего постов: {{ profile.posts.count }} <!--тоже от count избавился.Хорошая хитрость-->
  </h3>   
    {% for post in page_obj %}
      <article>
        {% include 'includes/post_card.html' with show_author=False show_group=True %}

      </article>

      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endblock %}